body{
    background-color: #bacdb0;
}
 
 
.container{
    display: grid;
    height:100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "heading"
    "heading"
    "navbar"
    "navbar"
    "image_1"
    "text_1"
    "text_2"
    "text_3"
    "text_3"
    "footer" 
    "footer";

}
 
.heading {
    grid-area: heading;
    text-align: center;
    background-color: #475B63;
}
 
.navbar {
    grid-area: navbar;
    text-align: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
}
 
.navbar ul li {
    display: inline;
    margin: 0 10px
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.image_1 {
    grid-area: image_1;
    text-align: center;
}
 
.text_1 {
    grid-area: text_1;
    font-size: large;
    text-align: justify;
    line-height: 30px;
    padding-right: 40px;
}

 .text_2 {
    grid-area: text_2;
    font-size: large;
    text-align: justify;
    line-height: 30px;
    padding-right: 40px;
 }

.text_3 {
    grid-area: text_3;
    font-size: large;
    text-align: center;
}
 
.footer {
    grid-area: footer;
    font-size: large;
    text-align: center;
}
 
img {
    width:40%;
}
