body{
    background-color: #bacdb0;
}
 
 
.container{
    display: grid;
    height:100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "heading"
    "heading"
    "navbar"
    "navbar"
    "image_1"
    "text_1"
    "image_2"
    "text_2"
    "text_3"
    "text_3"
    "footer" ;

}
 
.heading {
    grid-area: heading;
    text-align: center;
    background-color: #475B63;
}
 
.navbar {
    text-align: center;
    grid-area: navbar;
    padding: 20px

}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: inline;
    background-color: #ffff;
    padding: 30px
}

.image_1 {
    grid-area: image_1;
    text-align: center;
}
 
.text_1 {
    grid-area: text_1;
    font-size: large;
    text-align: justify;
    line-height: 30px;
    padding-right: 40px;
}
 
.image_2 {
    grid-area: image_2;
    text-align: center;
}
 
 .text_2 {
    grid-area: text_2;
    font-size: large;
    text-align: justify;
    line-height: 30px;
    padding-right: 40px;
 }

.text_3 {
    grid-area: text_3;
    font-size: large;
    text-align: center;
}
 
.footer {
    grid-area: footer;
    font-size: large;
    text-align: center;
}
 
img {
    width:40%;
}
